HTTP_ADDR=:8080
PG_DSN = postgres://eventbooker:eventbooker@postgres:5432/eventbooker?sslmode=disable
DATABASE_URL = postgres://eventbooker:eventbooker@postgres:5432/eventbooker?sslmode=disable
POSTGRES_DB = eventbooker
POSTGRES_USER= eventbooker
POSTGRES_PASSWORD= eventbooker
SMTP_FROM= noreply@eventbooker.local
SMTP_HOST= mailhog
SMTP_PORT= 1025